.btn {
  height: 35px;
  padding: 0 20px;
  background: #ffffff;
  box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
  border-radius: 5px;
  border: none;
  cursor: pointer;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #000000;

  .btn_active {
    background: #4793ff;
  }

  &:hover {
    background: #8abaff;
  }
}
